*{
    margin: 0;
    padding: 0;
}

#Parent{
    width: 100%;
}

#Enfant1{
    width: 100%;
    background-color: aqua;
    height: 50px;
    padding-top: 25px;
}


#Enfant2{
    width: 100%;
    background-color: coral;
    height: 180px;
    padding-top: 180px;
}

#Enfant3{
    width: 100%;
    background-color:yellowgreen;
    height: 50px;
    padding-top: 25px;
}

.Enfant{
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}
