*{
    margin: 0;
    padding: 0;
}

#Civilité{
<<<<<<< HEAD
    width: 20%;
}

#Nom1{
    width: 80%;
    
}

#Nom{
    width: 100%;
}
#Adresse1{
    width: 30%;
    float: left;
=======
    width: 20%
    float: left;
}
#Bouton1{
    width: 80%;
    float: left;
}

#Nom{
    width: 5%;
    float: left;
}

#Nom1{
    width: 10%;
    float: left
>>>>>>> 28da997982ea8b635c52207b318bc16aa1d5967e
}