*{
    margin: 0;
    padding: 0;
}

#Civilité{
    width: 20%
    float: left;
}
#Bouton1{
    width: 80%;
    float: left;
}

#Nom{
    width: 5%;
    float: left;
}

#Nom1{
    width: 10%;
    float: left
}