*{
    margin: 0;
    padding: 0;
}


#Parent{
    width: 100%;
}

#Civilité{
    width: 20%;
}

#Civilité1{
    width: 15%;
}

#Civilité2{
    width: 15%;

}

#Nom1{
    width: 80%;
    
}

#Nom{
    width: 100%;
}
#Adresse1{
    width: 30%;
    float: left;
}